body{
	border: solid 1px;
	height: 600px;
	width: 1500px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.behind{
	border: solid 1px;
	height: 200px;
	width: 500px;
	align-items: center;
	justify-content: center;
	display: flex;
	background: red;
	
}

.left{
	float: left;
	border: solid 1px;
	height: 200px;
	width: 500px;
	background: blue;
	align-items: center;
	justify-content: center;
	display: flex;
	transform: rotateX(-33.5deg) rotateY(45deg);
	
}

.right{
	float: right;
	border:solid 1px ;
	height: 200px;
	width: 500px;
	align-items: center;
	justify-content: center;
	display: flex;
	background: green;
	transform: rotateX(-33.5deg) rotateY(135deg);
}